<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<dict>
		<key>archaeological_site</key>
		<dict>
			<key>priority</key>
			<integer>1000</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Sito Archeologico</string>
				<key>en</key>
				<string>Archaeological Site</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Siti Archeologici</string>
				<key>en</key>
				<string>Archaeological Sites</string>
			</dict>
		</dict>
		<key>artwork</key>
		<dict>
			<key>priority</key>
			<integer>250</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Opera d&apos;arte</string>
				<key>en</key>
				<string>Artwork</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Opere d&apos;arte</string>
				<key>en</key>
				<string>Artworks</string>
			</dict>
		</dict>
		<key>cemetery</key>
		<dict>
			<key>priority</key>
			<integer>1000</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Cimitero - Tomba</string>
				<key>en</key>
				<string>Cimitery - Tomb</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Cimiteri - Tombe</string>
				<key>en</key>
				<string>Cimiteries - Tombs</string>
			</dict>
		</dict>
		<key>fountain</key>
		<dict>
			<key>priority</key>
			<integer>1000</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Fontana</string>
				<key>en</key>
				<string>Fountain</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Fontane</string>
				<key>en</key>
				<string>Fountains</string>
			</dict>
		</dict>
		<key>memorial</key>
		<dict>
			<key>priority</key>
			<integer>250</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Memoriale</string>
				<key>en</key>
				<string>Memorial</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Memoriali</string>
				<key>en</key>
				<string>Memorials</string>
			</dict>
		</dict>
		<key>monument</key>
		<dict>
			<key>priority</key>
			<integer>1000</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Monumento</string>
				<key>en</key>
				<string>Monument</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Monumenti</string>
				<key>en</key>
				<string>Monuments</string>
			</dict>
		</dict>
		<key>museum</key>
		<dict>
			<key>priority</key>
			<integer>1000</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Museo</string>
				<key>en</key>
				<string>Museum</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Musei</string>
				<key>en</key>
				<string>Museums</string>
			</dict>
		</dict>
		<key>palace</key>
		<dict>
			<key>priority</key>
			<integer>750</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Palazzo Storico</string>
				<key>en</key>
				<string>Historical Palace</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Palazzi Storici</string>
				<key>en</key>
				<string>Historical Palaces</string>
			</dict>
		</dict>
		<key>place_of_worship</key>
		<dict>
			<key>priority</key>
			<integer>1000</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Luogo di Culto</string>
				<key>en</key>
				<string>Place of Worship</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Luoghi di Culto</string>
				<key>en</key>
				<string>Places of Worship</string>
			</dict>
		</dict>
		<key>ruins</key>
		<dict>
			<key>priority</key>
			<integer>750</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Rovina</string>
				<key>en</key>
				<string>Ruins</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Rovine</string>
				<key>en</key>
				<string>Ruins</string>
			</dict>
		</dict>
		<key>statue</key>
		<dict>
			<key>priority</key>
			<integer>1000</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Statua</string>
				<key>en</key>
				<string>Statue</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Statue</string>
				<key>en</key>
				<string>Statues</string>
			</dict>
		</dict>
		<key>theatre</key>
		<dict>
			<key>priority</key>
			<integer>1000</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Teatro</string>
				<key>en</key>
				<string>Theatre</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Teatri</string>
				<key>en</key>
				<string>Theatres</string>
			</dict>
		</dict>
		<key>villa</key>
		<dict>
			<key>priority</key>
			<integer>750</integer>
			<key>description</key>
			<dict>
				<key>it</key>
				<string>Villa</string>
				<key>en</key>
				<string>Ville</string>
			</dict>
			<key>category</key>
			<dict>
				<key>it</key>
				<string>Ville</string>
				<key>en</key>
				<string>Villes</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
